body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
  }
  .snakestyle{
    position: fixed;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 0%);
    z-index: -1;
  }
  .info{
    float: left;
    justify-content: left;
  }
  #score{
    position: relative;
    left: 50%;
    justify-content: left;
    font-size: 50px;

  }
 button{
  touch-action: manipulation;
  font-size: xx-large;
  text-decoration: none;
  background-color: lightblue;
  z-index: 1;
 }
  .buttondiv1 button {

    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .buttondiv1{
    font-size: xx-large;
    position: relative;
    left: 35%;
  }
  .buttondiv2{
    position: relative;
    left: -32.5%;
  }
  .buttondiv1 button{
    padding: 10px 100px;
  }
  

  button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .show {display: block;}